/* #eee, #000, #ddd, #aaa, #ccc */
/* BLACKPINK: rgb(235, 95, 153), rgb(233, 101, 156), #000, rgb(200, 102, 155), #fff */
/* map: rgb(79, 151, 211), #000, rgb(7, 163, 54), rgb(5, 202, 64), #ccc*/
/* 
    rgb(173, 230, 180) 
    rgb(79, 151, 211)
    rgb(0, 179, 134)
*/
:root {
    --map-back: #eee;
    --map-border: #000;
    --map-object-fill: #ddd;
    --map-object-stroke: #aaa;
    --map-object-hover-fill: rgb(204, 204, 204);

    --map-object-fill-correct: green;
    --map-object-fill-one: yellow;
    --map-object-fill-two: orange;
    --map-object-fill-wrong: red;
}

#quiz {
    width: 100%;
    height: 100%;
}

svg {
    border: 1px solid var(--map-border);
    background-color: var(--map-back);
}

svg g path {
    fill: var(--map-object-fill);
    stroke: var(--map-object-stroke);
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
}

svg g path:hover {
    fill: var(--map-object-hover-fill);
}

.guess-correct {
    fill: var(--map-object-fill-correct) !important;
}

.guess-one {
    fill: var(--map-object-fill-one) !important;
}

.guess-two {
    fill: var(--map-object-fill-two) !important;
}

.guess-wrong {
    fill: var(--map-object-fill-wrong) !important;
}

#tooltip, #time-text, #guess-text {
    user-select: none;
}

.element-label {
    font-size: 12px;
    cursor: default;
    pointer-events: none;
}