svg {
    border: 1px solid black;
    background-color: #eee;
}

svg g path {
    fill: #ddd;
    stroke: #aaa;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
}

svg g path:hover {
    fill: #ccc;
}